<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaojiuwo.models.mapper.CommissionsMapper">




    <select id="findCommissionById" resultType="Station" parameterType="long">
        select
        id as id,
        name as name,
        price as price

        from commissions
        where id = #{id}

    </select>



    <insert id="insert" parameterType="Commission" keyProperty="id" useGeneratedKeys="true">
        insert into commissions(
        name,
        price,
        created_at,
        updated_at)

        values(
        #{name},
        #{price},
        #{createdAt},
        #{updatedAt})

    </insert>

    <delete id="delete" parameterType="long">
        delete from commissions where id = #{id}
    </delete>


</mapper>