<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaojiuwo.models.mapper.StationsMapper">




    <select id="findStationsByCityId" resultType="Station" parameterType="map">
      select
        expresscompanyid as id,
        companyname as name
      from ps_pms.expresscompany
      where cityid = #{cityId}

    </select>

    <select id="findAllStations" resultType="Station">
        select
        expresscompanyid as id,
        companyname as name
        from ps_pms.expresscompany e
        where e.DISTRIBUTIONCODE ='rfd'

    </select>


    <select id="findAllStationsAndLatLng" resultType="Station">
        select
            E.EXPRESSCOMPANYID as id,
            E.COMPANYNAME as name,
            G.ADDRESS as address,
            G.BAIDULAT as lat,
            G.BAIDULNG as lng,
            C.CITYNAME as cityName

        from ps_pms.EXPRESSCOMPANY e join CLOUD_WDS.GIS_STATIONAREA g
        on
        g.STATIONID = e.EXPRESSCOMPANYID
         join
         city c
         on
         e.CITYID = c.CITYID
        where
         e.ISDELETED=0
        and
         e.COMPANYFLAG =2
        and
        e.DISTRIBUTIONCODE ='rfd'

    </select>

    <select id="findStationById" resultType="Station" parameterType="long">
        select
        E.EXPRESSCOMPANYID as id,
        E.COMPANYNAME as name,
        G.ADDRESS as address,
        G.BAIDULAT as lat,
        G.BAIDULNG as lng,
        C.CITYNAME as cityName

        from ps_pms.EXPRESSCOMPANY e join CLOUD_WDS.GIS_STATIONAREA g
        on
        g.STATIONID = e.EXPRESSCOMPANYID
        join
        city c
        on
        e.CITYID = c.CITYID
        where
        e.ISDELETED=0
        and
        e.COMPANYFLAG =2
        and
        e.DISTRIBUTIONCODE ='rfd'

        and e.EXPRESSCOMPANYID = #{id}

    </select>

    <select id="findPointsByStationId" resultType="Point" parameterType="long">
        select

         s.BAIDULNG as longitude,
         s.BAIDULAT as lantitude

        from
        EXPRESSCOMPANY e
        inner join
        CLOUD_WDS.GIS_STATIONAREA g

        on
        g.STATIONID = e.EXPRESSCOMPANYID

        inner join
        CLOUD_WDS.GIS_STATIONAREAPOINTS s
        on
        g.STATIONAREAID = s.STATIONAREAID
        where
             e.ISDELETED=0
            and
             e.COMPANYFLAG =2
            and
             e.DISTRIBUTIONCODE ='rfd'
            and
             e.EXPRESSCOMPANYID = #{id}
        order by e.EXPRESSCOMPANYID asc,
        s.seq asc
    </select>

    <select id="findTopExpressCompany" resultType="Station">
        select

        e.expresscompanyid as id,
        pe.companyname as name

        from ps_pms.expresscompany e
        join ps_pms.expresscompany pe on e.expresscompanyid = pe.topcodcompanyid
        where e.companyflag = 3

    </select>

    <insert id="insert" parameterType="Station" keyProperty="id" useGeneratedKeys="true">
        insert into stations(
        description,
        address,
        lantitude,
        longitude,
        status,
        created_at,
        updated_at,
        stationable_id,
        stationable_type)

        values(
        #{name},
        #{address},
        #{lat},
        #{lng},
        #{status},
        #{createdAt},
        #{updatedAt},
        #{stationableId},
        #{stationableType}

        )

    </insert>
    <delete id="delete" parameterType="long">
        delete from stations where id = #{id}
    </delete>


    <select id="findStationFromMysql" resultType="Station" parameterType="long">
        select
        id as id,
        description as name,
        address as address,
        lantitude as lat,
        longitude as lng,
        status as status,
        stationable_id as stationable_id,
        stationable_type as stationable_type

        from stations
        where
        id = #{id}

    </select>

</mapper>