<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>首页</title>
    <meta charset="utf-8" />
</head>
<body>
<div>

    <h1 class="page-header">Dashboard</h1>

    <h2 class="sub-header">Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>